{% set desktop = salt['grains.filter_by']({
  'Debian': {
    'packages': [ 'freerdp', ],
  },
  'RedHat': {
    'packages': [ 
                  'hdparm',
                  'sdparm',
                  'atop',
                  'htop',
                  'iperf3',
                  'ipmitool',
                  'iptraf-ng',
                  'iptstate',
                  'nmap',

                  'wireshark',

                  'opera-stable',
                  'chromium',
                  'chromium-pepper-flash',

                  'dpkg', 
                  
                  'ntfs-3g',
                  'exfat-utils',
                  'hfsplus-tools',
                  'ddrescue',

                  'mutt',

                  'okular',

                  'keepassx',

                  'x2goserver',
                  'x2goclient',
                  'freerdp',
                  'tigervnc',

                  'tinc',
                  'vpnc-consoleuser',

                  'geeqie',
                  'ufraw',
                  'ufraw-gimp',

                  'vlc',
                  'vlc-extras',
                  'vlc-plugin-jack',
                  'mplayer',
                  'mplayer-doc',
                  'mplayer-gui',
                  'mplayer-tools',
                  'smplayer',
                  'gxine',
                  'gxine-mozplugin',
                  'xine-ui',
                  'libva-utils',
                  'libva-vdpau-driver',

                  'vim-X11',
                  'rpmdevtools',
                  'dos2unix',
                  'gitflow',
                  'bzr',
                  'mercurial',
                  'meld',
                  'kdiff3',

                  'createrepo_c',
                  'mock',
                  'lftp',

                  'oz',


                  
                ],
    'packagegroups': [ 
                       'core',
                       'base',

                       'large-systems',

                       'x11',
                       'fonts',
                       'legacy-x',

                       'gnome-desktop',
                       'gnome-apps',
                       'mate-desktop',
                       'input-methods',
                       'guest-agents',
                       'guest-desktop-agents',
                       'desktop-debugging',

                       'internet-browser',
                       'internet-applications',
                       'console-internet',

                       'remote-desktop-clients',

                       'office-suite',
                       'technical-writing',    

                       'network-file-system-client',
                       'directory-client',
                       'print-client',

                       'networkmanager-submodules',
                       'dial-up',
                       'smart-card',

                       'multimedia',

                       'debugging',
                       'performance',
                       'virtualization-tools',

                       'development',
                       'additional-devel',
                       'platform-devel',
                       'buildsys-build',
                       'java-platform',
 
                       'graphics',
                       'electronic-lab',

                       'backup-client',
                     ],
  },
  'default': {
    'packages': [ 'freerdp', ],
  },
}, merge=salt['pillar.get']('desktop:lookup')) %}
