{% set desktop = salt['grains.filter_by']({
  'Debian': {
    'packages': [ 'freerdp', ],
  },
  'RedHat': {
    'packages': [ 
                  'x2goserver',
                  'x2goclient',
                  'freerdp', 

                  'opera-stable',
                  'chromium',
                  'chromium-pepper-flash',

                  'gitflow',

                  'oz',

                  'vlc',
                  'mplayer',
                  'smplayer',

                  
                ],
    'packagegroups': [ 
                       'base',
                       'core',
                       'desktop-debugging',
                       'dial-up',
                       'directory-client',
                       'fonts',
                       'gnome-desktop',
                       'guest-agents',
                       'guest-desktop-agents',
                       'input-methods',
                       'internet-browser',
                       'java-platform',
                       'multimedia',
                       'network-file-system-client',
                       'networkmanager-submodules',
                       'print-client',
                       'x11',
                       'backup-client',
                       'gnome-apps',
                       'internet-applications',
                       'legacy-x',
                       'office-suite',
                       'remote-desktop-clients',
                       'smart-card',

                       'mate-desktop',

                       'technical-writing',    

                       'debugging',
                       'performance',
                       'virtualization-tools',

                       'development',
 
                       'graphics',


                     ],
  },
  'default': {
    'packages': [ 'freerdp', ],
  },
}, merge=salt['pillar.get']('desktop:lookup')) %}
