{% set desktop = salt['grains.filter_by']({
  'Debian': {
    'packages': [ 'freerdp', ],
  },
  'RedHat': {
    'packages': [ 
                  'hdparm',
                  'sdparm',
                  'atop',
                  'htop',
                  'iperf3',
                  'ipmitool',
                  'iptraf-ng',
                  'iptstate',
                  'nmap',

                  'wireshark',

                  'opera-stable',
                  'chromium',
                  'chromium-pepper-flash',

                  'dpkg', 
                  
                  'ntfs-3g',
                  'exfat-utils',
                  'hfsplus-tools',
                  'ddrescue',

                  'mutt',

                  'okular',

                  'keepassx',

                  'x2goserver',
                  'x2goclient',
                  'freerdp',
                  'tigervnc',

                  'tinc',
                  'vpnc-consoleuser',

                  'geeqie',
                  'ufraw',
                  'ufraw-gimp',

                  'vlc',
                  'vlc-extras',
                  'vlc-plugin-jack',
                  'mplayer',
                  'mplayer-doc',
                  'mplayer-gui',
                  'mplayer-tools',
                  'smplayer',
                  'gxine',
                  'gxine-mozplugin',
                  'xine-ui',

                  'vim-X11',
                  'rpmdevtools',
                  'dos2unix',
                  'gitflow',
                  'bzr',
                  'mercurial',
                  'meld',
                  'kdiff3',

                  'createrepo_c',
                  'mock',
                  'lftp',

                  'oz',
                  'virt-sysprep',


                  
                ],
    'packagegroups': [
                       'core',
                       'base',

                       'large-systems',

                       'x11',
                       'fonts',
                       'legacy-x',

                       'GNOME',
                       'gnome-apps',
                       'mate-desktop',
                       'input-methods',
                       'guest-agents',
                       'guest-desktop-agents',
                       'desktop-debugging',

                       'internet-browser',
                       'internet-applications',
                       'console-internet',

                       'remote-desktop-clients',

                       'office-suite',
                       'technical-writing',

                       'network-file-system-client',
                       'directory-client',
                       'print-client',

                       'networkmanager-submodules',
                       'dial-up',
                       'smart-card',

                       'multimedia',

                       'debugging',
                       'performance',
                       'virtualization-tools',

                       'development',
                       'additional-devel',
                       'platform-devel',
                       'buildsys-build',
                       'java-platform',

                       'graphics',
                       'electronic-lab',

                       'backup-client',
                     ],
    'packagegroupdetails': {
                       'core': {
                         'skip': [
                           'bfa-firmware',
                           'libertas-sd8686-firmware',
                           'libertas-sd8787-firmware',
                           'libertas-usb8388-firmware',
                           'ql2100-firmware',
                           'ql2200-firmware',
                           'ql23xx-firmware',
                         ]
                       },
                       'base': {
                         'skip': [
                           'yum-plugin-security',
                         ]
                       },


                       'GNOME': {
                         'skip': [
                           'gvfs-obexftp',
                           'redhat-access-gui',
                         ]
                       },
                       'mate-desktop': {
                         'skip': [
                           'mate-dialogs',
                         ]
                       },

                       'internet-browser': {
                         'skip': [
                           'totem-mozplugin',
                         ]
                       },

                       'buildsys-build': {
                         'skip': [
                           'util-linux-ng',
                         ]
                       },

                       'electronic-lab': {
                         'skip': [
                           'alliance',
                           'archimedes',
                           'avarice',
                           'avr-binutils',
                           'avr-gcc',
                           'avr-gcc-c++',
                           'avr-gdb',
                           'avra',
                           'covered',
                           'dfu-programmer',
                           'dgc',
                           'dinotrace',
                           'eclipse-cdt',
                           'eclipse-eclox',
                           'eclipse-egit',
                           'eclipse-subclipse',
                           'eclipse-texlipse',
                           'eclipse-veditor',
                           'electric',
                           'emacs-dinotrace',
                           'emacs-irsim-mode',
                           'emacs-spice-mode',
                           'emacs-systemc-mode',
                           'emacs-verilog-mode',
                           'emacs-vregs-mode',
                           'eqntott',
                           'espresso-ab',
                           'fped',
                           'gds2pov',
                           'geda-gaf',
                           'gerbv',
                           'ghdl',
                           'gnucap',
                           'gnusim8085',
                           'gplcver',
                           'gpsim',
                           'gresistor',
                           'gsim85',
                           'gtkterm',
                           'hct',
                           'irsim',
                           'iverilog',
                           'ktechlab',
                           'linsmith',
                           'magic',
                           'magic-doc',
                           'mcu8051ide',
                           'mot-adms',
                           'nesc',
                           'netgen',
                           'ngspice',
                           'ngspice-doc',
                           'ovm',
                           'pcb',
                           'perl-Hardware-Verilog-Parser',
                           'perl-Hardware-Vhdl-Lexer',
                           'perl-Hardware-Vhdl-Parser',
                           'perl-Hardware-Vhdl-Tidy',
                           'perl-ModelSim-List',
                           'perl-Perlilog',
                           'perl-SystemC-Vregs',
                           'perl-SystemPerl',
                           'perl-Verilog-CodeGen',
                           'perl-Verilog-Perl',
                           'perl-Verilog-Readmem',
                           'pharosc',
                           'pharosc-alliance',
                           'pharosc-magic',
                           'pharosc-synopsys',
                           'pharosc-xcircuit',
                           'picprog',
                           'pikdev',
                           'piklab',
                           'pikloops',
                           'qucs',
                           'sk2py',
                           'tclspice',
                           'teal',
                           'tkgate',
                           'toped',
                           'uisp',
                           'usrp',
                           'verilator',
                           'vhd2vl',
                           'vrq',
                           'wb_builder',
                           'xcircuit',
                         ]
                       },

                     }
  },
  'default': {
    'packages': [ 'freerdp', ],
  },
}, merge=salt['pillar.get']('desktop:lookup')) %}
